version: "3.8"
services:
  proxy:
    image: nginx:1.21
    ports:
      - "80:80"
    volumes:
      - ./docker/proxy/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - one
      - two
  one:
    build:
      context: ./example-one
    volumes:
      - ./example-one:/var/www/html
    environment:
      - XDEBUG_MODE=${XDEBUG_MODE}
  two:
    build:
      context: ./example-two
    volumes:
      - ./example-two:/var/www/html